.f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb{zoom:1;}

.head-wrap {
	width: 100%;
	height: 285px;
}

.head-nav {
	width: 100%;
	height: 60px;
	background: url(../img/gradient.png) repeat-x;
	position: absolute;
	top: 0;
	font-size: 12px;
}

.head-nav-menu {
	width: 1200px;
	margin: 0 auto;
	height: 60px;
	position: relative;
}

.logo {
	float: left;
	cursor: pointer;
	padding: 13px 20px;
}

.menu-list {
	float: right;
	height: 60px;
	font-size: 0;
}

.menu-list li{
	float: left;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}
.menu-list li a{
	display: inline-block;
	padding: 0 20px;
	color: #B6B7B7\9;
	color: rgba(255,255,255,0.6);
}
.menu-list li.active a{
	color: #ffffff;
}

.menu-list li:hover a{
	color: #E5E5E7;
}

.menu-list li i {
	font-size: 22px;
	vertical-align: middle;
}

.menu-list li span {
	padding-left:10px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
.menu-divider{
	height: 20px !important;
	margin: 20px 0;
	padding: 0 !important;
	border-left: 1px solid #b0b2b9;
	float: left;
}
.oss-main {
	width: 1200px;
	margin: 30px auto 60px;
}
body{
	background-color: #f8f8f8;
}
.head-wrap{
	position: relative;
	background-size: cover;
}
.tabs-bar{
	width: 100%;
	height: 80px;
	background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}
.tabs-menu{
	width: 1200px;
	margin: 0 auto;
}
.tabs-menu li{
	width: 33.3%;
	height: 76px;
	border-bottom: 4px solid transparent;
	float: left;
	text-align: center;
	color: #404146;
	line-height: 26px;
	cursor: pointer;
}
.tabs-menu li.active{
	color: #425ac7;
	border-bottom: 4px solid #425AC7;
}
.tabs-menu li i{
	margin-top: 14px;
	display: inline-block;
}
.tabs-box{
	width: 100%;
	display: none;
}
.tabs-box.active{
	display: block;
}
.side-bar{
	width: 180px;
	float: left;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
	overflow: hidden;
	position: relative;
}
.side-bar a{
	padding-left: 24px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-align: left;
	background-color: #ffffff;
	color: #666;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.side-bar a:hover{
	background-color: #efeff0;
}
.side-bar a.active{
	background-color: #425ac7;
	color: #ffffff;
}
.title{
	font-size: 14px;
	color: #404146;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #a1a8b1;
}
.title div{
	height: 20px;
	line-height: 20px;
	border-left: 2px solid #425ac7;
	padding-left: 15px;
	display: inline-block;
}
.main-content{
	margin-left: 220px;
}
.content-items{
	margin-top: 16px;
}
.content-items li{
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
	padding: 0 15px;
	font-size: 12px;
	cursor: pointer;
	background-color: #ffffff;
}
.content-items li span:first-child{
	width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content-items li:hover{
	background-color: #efeff0;
}
.items-time{
	color: #a1a8b1;
	float: right;
}
.items-title{
	color: #404146;
	float: left;
}

.content-detail{
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
	border: 1px solid #e1e6eb\9;
	display: none;
	margin-top: 20px;
}
.detail-top{
	height: 35px;
	line-height: 33px;
	padding-right: 24px;
	background-color: #425ac7;
	color: #ffffff;
	font-size: 12px;
}
.detail-top i{
	float: right;
	cursor: pointer;
}
.detail-top span{
	float: right;
	margin-right: 30px;
	cursor: pointer;
}
.detail-top span:before{
	content: "\e605";
	margin-right: 10px;
	font-family: "iconfont";
}
.detail-main{
	padding: 0 40px 25px;
}
.detail-title{
	height: 48px;
	line-height: 48px;
}
.detail-title span{
	float: right;
	font-size: 12px;
	color: #a1a8b1;
	margin-left: 15px;
}
.detail-main p{
	color: #404146;
	font-size: 12px;
	margin: 10px 0 25px 0;
	line-height: 2.2;
}
.attachment-title{
	font-size: 12px;
}
.attachment-box{
	cursor: pointer;
	margin-top: 15px;
}
.attachment-box li span{
	color: #999;
	font-size: 12px;
	margin-left: 10px;
}
