.clear-fixed:before,
.clear-fixed:after {
	display: table;
	content: '';
	clear: both;
}

.head-wrap {
	width: 100%;
	height: 285px;
}

.head-nav {
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, 0.2);
	background: transparent\9;
	zoom:1\8; /* required for the filters */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
	position: absolute;
	top: 0;
	font-size: 12px;
}

.head-nav-menu {
	width: 980px;
	height: 60px;
	margin: 0 auto;
}

.logo {
	float: left;
	cursor: pointer;
	line-height: 60px;
	font-size: 0;
}

.logo i {
	font-size: 32px;
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
}

.divider {
	margin: 0 14px;
	height: 80%;
	border-left: solid 1px #fefefe;
	display: inline-block;
	vertical-align: middle;
}

.logo-title {
	display: inline-block;
	vertical-align: middle;
	width: 103px;
	height: 34px;
	background-image: url(../img/一站式员工服务.png);
	background-size: 103px 34px;
}

.menu-list {
	float: right;
	height: 100%;
	font-size: 0;
}

.menu-list li {
	color: #ffffff;
	float: right;
	cursor: pointer;
	line-height: 60px;
}
.menu-list a{
	display: inline-block;
}
.menu-list li.active {
	border-bottom: 2px solid #ffffff;
}

.menu-list li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.menu-list li i {
	font-size: 23px;
	vertical-align: middle;
}

.menu-list li span {
	padding: 0 20px 0 10px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.divider-line {
	height: 20px;
	margin-right: 20px;
	border-left: 1px solid #b0b2b9;
	display: inline-block;
	vertical-align: middle;
}

.oss-main {
	width: 980px;
	margin: 54px auto 50px;
}
body{
	background-color: #f8f8f8;
}
.head-wrap{
	position: relative;
	background: url(../img/b-g-black.png) no-repeat;
	background-size: cover;
}
.tabs-bar{
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	background: transparent\9;
	zoom:1\8; /* required for the filters */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
}
.tabs-menu{
	width: 980px;
	margin: 0 auto;
}
.tabs-menu li{
	width: 33.3%;
	height: 80px;
	float: left;
	text-align: center;
	color: #fff;
	padding: 16px 0;
	line-height: 26px;
	cursor: pointer;
}
.tabs-menu li i{
	font-size: 14px;
}
.tabs-menu li:hover{
	background-color: rgba(0,0,0,0.6);
}
.tabs-menu li.active{
	background-color: #425ac7;
}
.tabs-box{
	width: 100%;
	display: none;
}
.tabs-box.active{
	display: block;
}
.side-bar{
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
	border: 1px solid #e1e6eb\9;
}
.side-bar a{
	width: 100%;
	padding: 0 24px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-align: left;
	background-color: #ffffff;
	color: #666;
	font-size: 14px;
}
.side-bar a:hover{
	background-color: #efeff0;
}
.side-bar a.active{
	background-color: #425ac7;
	color: #ffffff;
}
.title{
	font-size: 14px;
	color: #404146;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #a1a8b1;
}
.title div{
	width: 0;
	height: 20px;
	border: 1px solid #425ac7;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.main-content{
	margin-left: 220px;
}
.content-items{
	margin-top: 16px;
}
.content-items li{
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
	padding: 0 15px;
	font-size: 12px;
	cursor: pointer;
	background-color: #ffffff;
}
.content-items li:hover{
	background-color: #efeff0;
}
.items-time{
	color: #a1a8b1;
	float: right;
}
.items-title{
	color: #404146;
	float: left;
}

.content-detail{
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
	display: none;
	margin-top: 20px;
}
.detail-top{
	height: 35px;
	line-height: 33px;
	padding-right: 24px;
	background-color: #425ac7;
	color: #ffffff;
	font-size: 12px;
}
.detail-top i{
	float: right;
	cursor: pointer;
}
.detail-top span{
	float: right;
	margin-right: 30px;
	cursor: pointer;
}
.detail-top span:before{
	content: "\e605";
	margin-right: 10px;
	font-family: "iconfont";
}
.detail-main{
	padding: 0 40px 25px;
}
.detail-title{
	height: 48px;
	line-height: 48px;
	font-weight: bold;
}
.detail-title span{
	float: right;
	font-size: 12px;
	color: #a1a8b1;
	margin-left: 15px;
}
.detail-main p{
	color: #404146;
	font-size: 12px;
	margin: 10px 0 25px 0;
	line-height: 2.2;
}
.attachment-title{
	font-size: 12px;
}
.attachment-box{
	cursor: pointer;
	margin-top: 15px;
}
.attachment-box li span{
	color: #999;
	font-size: 12px;
	margin-left: 10px;
}
