.clear-fixed:before,
.clear-fixed:after {
	display: table;
	content: '';
	clear: both;
}

.head-wrap {
	width: 100%;
	height: 285px;
}

.head-nav {
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	font-size: 12px;
}

.head-nav-menu {
	width: 980px;
	height: 60px;
	margin: 0 auto;
}

.logo {
	padding: 14px 0;
	float: left;
	height: 100%;
	cursor: pointer;
}

.logo i {
	font-size: 32px;
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
}

.divider {
	margin: 0 14px;
	height: 80%;
	border-left: solid 1px #fefefe;
	display: inline-block;
	vertical-align: middle;
}

.logo-title {
	display: inline-block;
	vertical-align: middle;
	width: 103px;
	height: 34px;
	background-image: url(../img/一站式员工服务.png);
	background-size: 103px 34px;
}

.menu-list {
	float: right;
	height: 100%;
}

.menu-list li {
	padding: 18px 0;
	height: 100%;
	color: #ffffff;
	float: right;
	cursor: pointer;
}

.menu-list li.active {
	background-color: rgba(0, 0, 0, 0.3);
}

.menu-list li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.menu-list li i {
	font-size: 24px;
	vertical-align: middle;
}

.menu-list li span {
	padding: 0 20px 0 10px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.divider-line {
	height: 20px;
	margin-right: 20px;
	border-left: 1px solid rgba(255, 255, 255, 0.6);
	display: inline-block;
	vertical-align: middle;
}

.oss-main {
	width: 980px;
	margin: 54px auto 50px;
}