.head-wrap {
	background: url(../img/b-g-index.png) no-repeat center center;
	background-size: cover;
}
.service-selector {
	width: 32%;
	height: 126px;
	border-radius: 4px;
	color: #ffffff;
	margin: 0 0 35px 2%;
	float: left;
	font-size: 0;
	transition: all .4s ease-in-out; 
	cursor: pointer;
	overflow: hidden;
	line-height: 126px;
}
.service-selector.nth1{
	background-color: #963db4;
	margin-left: 0;
}
.service-selector.nth2{
	background-color: #df5468;
}
.service-selector.nth3{
	background-color: #f39230;
}
.service-selector.nth4{
	background-color: #3f87df;
	margin-left: 0;
}
.service-selector.nth5{
	background-color: #35bd80;
}
.service-selector.nth6{
	background-color: #8d9bb3;
}
.service-selector.nth1:hover{
	transform: translateY(-10px);
	box-shadow: 0px 20px 30px -15px #963db4;
}
.service-selector.nth2:hover{
	transform: translateY(-10px);
	box-shadow: 0px 20px 30px -15px #df5468;
}
.service-selector.nth3:hover{
	transform: translateY(-10px);
	box-shadow: 0px 20px 30px -15px #f39230;
}
.service-selector.nth4:hover{
	transform: translateY(-10px);
	box-shadow: 0px 20px 30px -15px #3f87df;
}
.service-selector.nth5:hover{
	transform: translateY(-10px);
	box-shadow: 0px 20px 30px -15px #35bd80;
}
.service-selector i{
	font-size: 44px;
	margin-right: 18px;
	vertical-align: middle;
}
.service-title{
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.service-title p.name{
	font-size: 14px;
}
.service-title p.intro{
	font-size: 12px;
}
.service-selector a{
	padding: 0 45px;
	display: block;
}
